<%= form_for(@memo) do |f| %>
  <% if @memo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memo.errors.count, "error") %> prohibited this memo from being saved:</h2>

      <ul>
      <% @memo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_name %><br>
    <%= f.text_field :student_name %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :student_academy %><br>
    <%= f.text_field :student_academy %>
  </div>
  <div class="field">
    <%= f.label :student_major %><br>
    <%= f.text_field :student_major %>
  </div>
  <div class="field">
    <%= f.label :student_degree %><br>
    <%= f.text_field :student_degree %>
  </div>
  <div class="field">
    <%= f.label :student_credit %><br>
    <%= f.number_field :student_credit %>
  </div>
  <div class="field">
    <%= f.label :student_course %><br>
    <%= f.text_field :student_course %>
  </div>
  <div class="field">
    <%= f.label :student_password %><br>
    <%= f.text_field :student_password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
